<div class="box">
  <div class="box-inner">
    <h><%= t('.forgot_your_password') %></h>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <div class="box-email">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit t('.send_me_reset_password_instructions') %>
      </div>
    <% end %>

  </div>
</div>