<div class="main posts-new">
  <div class="container">
    <div class="form">
      <div class="form-body">
        <%= form_with model:@post, url: posts_path, method: :post, local: true do |f| %>
          <%= f.text_field :title %>
          <%= f.text_area :content %>
          <%= f.select :category, [["仕事", "仕事"], ["趣味", "趣味"], ["健康・美容", "健康・美容"], ["家族・恋人", "家族・恋人"], ["体験", "体験"], ["旅行", "旅行"], ["理想像", "理想像"], ["その他", "その他"]], include_blank: "選択して下さい" %>
          <%= f.submit "追加する" %>
        <% end %>
      </div>
    </div>
  </div>
</div>