<!DOCTYPE html>
<html>
  <head>
    <title>BucketListApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <%= link_to "バケットリスト", "/" %>
      </div>
      <ul class="header-menus">
        <li>
          <%= link_to "バケットリストとは", "/about" %>
        </li>
        <li>
          <%= link_to "リスト一覧", posts_path %>
        </li>
        <li>
          <%= link_to "リストを追加する", new_post_path %>
        </li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
